* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.container {

}


.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* background: url('navbar.png');
    background-position: center;
    background-size: cover; */
    padding: 5px 1rem;
    margin-top: 3rem;
    border-radius: 50px;
    z-index: 99;
}

.navbar li {
    list-style-type: none;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.hero-section {
    position: relative;
    /* background-color: blue; */
    background: linear-gradient(180deg,#041b49,#04121f);
    height: 100vh;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* gap: 10rem; */
    z-index: -1;
    overflow: hidden;
}

  
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
      }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.hero-left, .hero-right {
    /* background-color: #006ec3; */
    position: relative; /* Tambahkan ini */
    z-index: 3; /* Atur z-index lebih tinggi dari audioVisualizer */
    width: 100%;
    height: 100%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left h1 {
    font-family: 'Protest Strike' , sans-serif;
    font-size: 96px;
}

.hero-left p {
    font-family: 'Prompt', sans-serif;
    font-size: 54px;
}

.masking-box {
    position: relative;
    height: 80px;
    /* background-color: aqua; */
    overflow: hidden;
    padding: 0px 1rem;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
      );
      -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
      );
}

.masking-box p{
    /* background-color: #7300E1; */
    position: relative;
    white-space: nowrap;
    text-align: center;
    line-height: 5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transform: translatey(-11rem);
    animation: scrollText 20s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}

.text-wrapper {
    gap: 15px;
    display: flex;
    position: relative;
    white-space: nowrap;
}


.masking-box::before {
    content: '';
    background: linear-gradient(180deg, #2F6DBA, #1F4C73);
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: black;
    pointer-events: none;
}

.masking-box::after {
    content: '';
    background: linear-gradient(180deg, #2F6DBA, #1F4C73);
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: black;
    pointer-events: none;
}

@keyframes scrollText {
    0% {
        transform: translateY(0rem);
    }

    16.67% {
        transform: translateY(-5rem);
    }

    33.33% {
        transform: translateY(-10rem);
    }

    50% {
        transform: translateY(-15rem);
    }

    66.67% {
        transform: translateY(-10rem);

    }

    83.33%{
        transform: translateY(-5rem);

    }

    100% {
        transform: translateY(0rem);

    }
}

.hero-right {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    /* margin-left: 16rem; */

}

.hero-photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
    /* margin-left: 1rem; */
    /* background-color: aqua; */
}

.top-radial {
    position: absolute;
    transform: scale(1.2);
    margin-top: 50px;
    margin-left: 1px;
    display: block;
    width: 380px;
    height: 390px;
    background: transparent;
    z-index: 8;
    border-top: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid rgba(255, 255, 255, 0.3);
    filter: blur(1px);
}


.hero-photo .imgBG {
    position: absolute;
    margin-top: 48px;
    margin-left: 1px;
    display: block;
    width: 380px;
    height: 390px;
    border-radius: 50%;
    /* background: radial-gradient(circle, #006ec3, #2E6DBC); */
}

.shadowOut {
    background: radial-gradient(circle, #006ec3, #2E6DBC);
    box-shadow: 0 0px 50px 10px rgba(32, 45, 255, 0.3);
}

.shadowIn {
    background-color: transparent;
    box-shadow: inset 0px 15px 10px rgba(0, 0, 0, 0.3);
}

.hero-photo .img1 {
    position: absolute;
    align-self: center;
    justify-self: center;
    /* width: 400px; */
    mask-image: url('circle.png');
    mask-size: 380px;
    mask-position: center 50px;
    mask-repeat: no-repeat;
    z-index: 10;
}

.hero-photo .img2 {
    position: absolute;
    align-self: center;
    justify-self: center;
    mask-image: url('circle.png');
    mask-size: 380px;
    mask-position: center 170px;
    mask-repeat: no-repeat;
    z-index: 9;
}

.audioVisualizer {
    position: absolute;
    bottom: 0;
    left: 0;
    /* background-color: black; */
    width: 100%;
    height: 100%;
    z-index: 2;
}

#audio1 {
    /* background-color: #006ec3; */
    position: absolute;
    /* top: 50%;
    left: 0; */
    display: none;
}

#canvas1 {
    margin-top: 50px;
    /* background-color: #006ec3; */
}

.lingkaran {
    background-color: #0685BB;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    filter: blur(300px);
    top: -10%;
    left: -10%;
    transform: translate(0, 0);
    animation: move 10s ease infinite;
    z-index: -1;
}

@keyframes move {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(110rem, 0);
    }
}

/* .comets {
    position: relative;
}

.comets img {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
}

.comet1 {
    transform: translate(-100%, 0%);
    animation: 5s commetTurun1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    filter: blur(3px);
    rotate: 120deg;
}

.comet2 {
    transform: translate(-150%, -70%);
    animation: 7s commetTurun2 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    filter: blur(10px);
    rotate: 10deg;
} */

/* @keyframes commetTurun1 {
    0% {
        transform: translate(-100%, 0%);
    }

    100% {
        transform: translate(220%, 0%);
    }
}

@keyframes commetTurun2 {
    0% {
        transform: translate(-150%, -70%);
    }

    100% {
        transform: translate(-150%, 200%);
    }
} */

.audioMenu {
    background: linear-gradient(199deg,#307cbf,#1f4c73,#071c31);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
    background-color: rgb(37, 37, 189);
    /* padding: 2rem; */
    width: 400px;
    height: 150px;
    /* position: absolute;
    top: 50%;
    left: 0; */
    color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 10%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    /* align-items: center; */
}

.menu {
    /* background-color: #006ec3; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 50%;
}

.discTurn {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

.discBg {
    background-color: white;
    width: 150px;
    height: 150px;
    position: absolute;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
}

.disc-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -16%;
    margin-bottom: -10%;
}

.disc-wrapper svg{
    /* position: absolute; */
    position: relative;
    /* background-color: white; */
    padding: 1rem;
    border-radius: 10%;
    /* top: -20%; */
}

.turn {
    animation: turn 3s linear infinite;
}

@keyframes turn {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.progress {
    display: block;
    width: 100%;
    height: 3px;
    background-color: gray;
    margin: 15px 0;
    justify-self: center;
}

.menu h1 p {
}

.hidden {
    opacity: 0;
}

.textMenu {
    padding: 0 1rem;
}

.textMenu h1 {
    font-size: 20px;
    margin-top: 10px;
}

.textMenu h1,
.textMenu p {
    margin-bottom: 10px;
    transition: opacity 500ms ease;
    white-space: nowrap;
}

.btnMenu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
    background-color: white;
    padding: 1rem 0;
    /* border-top-right-radius: 10%; */
}

.btnMenu img {
    width: 20px;
    height: 20px;
}

.btnMenu img,
.btnMenu svg {
    transition: transform 0.3s ease;
}

.btnMenu img:hover,
.btnMenu svg:hover {
    transform: scale(1.5);
}

.pause-icon {
    display: none;
}

.fwLeft {
    rotate: 180deg;
}

.right {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.left {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    height: 60px;
}

.sideMenu {
    /* background-color: white; */
    position: fixed;
    z-index: 99;
    top: 40%;
    left: 0;
    display: flex;
    gap: 10px;
    transition: 1s ease;
}

.expand {
    display: flex;
    align-items: center;
    /* background-color: #006ec3; */
}

.collapsed {
    transform: translateX(-90%);
}

.collapsed .arrow-up {
    rotate: 90deg;
}

/* From Uiverse.io by AqFox */ 
button {
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background: linear-gradient(199deg,#307cbf,#1f4c73,#071c31);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    border: #004dff;
    transition: 0.5s ease;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #020cd1;
  }
  
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    margin-bottom: 60%;
    border-bottom: 15px solid white;
    rotate: 270deg;
    transition: 0.5s ease;
  }

  /* myself */

.myself {
    display: grid;
    grid-template-columns: 45% 30% 25%;
    color: white;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, #04121f, #060370);
}

.text-container {
    /* background-color: gray; */
    position: relative;
    width: 100%;
    height: 100%;
}



.about-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.status-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 10rem;
    gap: 40px;
    visibility: hidden;
}

.status-item {
    display: flex;
    gap: 10px;
}

.status-item svg {
    width: 50px;
}

.status-item h1 {
    transition: all 300ms ease;
    cursor: pointer;
}

.status-item h1::after {
    display: block;
    content: '';
    width: 100px;
    height: 2px;
    background-color: white;
    /* justify-self: center; */
    transition: all 300ms ease;
}

.status-item h1:hover::after{
    width: 100%;
}

.status-item h1:hover {
    transform: scale(1.1) translateX(10%);
}

.status-item:hover svg {
    filter: drop-shadow(0 0 10px white); /* Efek cahaya */
}

.status-container h1{
    font-size: 40px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.right-text {
    /* background-color: #004dff; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 10rem;
    padding-right: 5rem;
    height: 100%;
}

.old {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    align-items: center;
}

.old h1:first-child {
    font-family: "Permanent Marker", cursive;
    color: #ffd700 ;
    text-shadow: 0 0 10px #ffd700;
    font-size: 40px;
    font-weight: 500;
}

.old h1:last-child{
    font-family: "Metal Mania", system-ui;
    font-size: 30px;
}

.nameMain {
    line-height: 3rem;
    margin-bottom: 1rem;
}
.right-text h3 {
    font-size: 30px;
    font-weight: 100;
    font-family: "Poiret One", sans-serif;
}

.right-text h2 {
    font-size: 35px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

.right-text .otherName{
    margin-bottom: 1rem;
    transition: all 500ms ease ;
    cursor: pointer;
}


.right-text p {
    font-family: "Newsreader", serif;
    line-height: 25px;
    font-size: 20px;
}

.img-wrapper {
    position: relative;
    /* background-color: #0685BB; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 77; */
}

.img-wrapper img {
    position: absolute;
    width: 1200px;

    transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform;
}

.img-wrapper .img-transform {
    transform: translate(80px, 0px) scale(1.3);
}

.img-wrapper .img-default {
    transform: translateY(-13%);
}

.about-wrapper {
    /* background-color: blueviolet; */
    height: 100%;
}

.about-wrapper ul {
    padding-right: 5rem;
    font-family: "Noto Sans", sans-serif;
    height: 100%;
    font-size: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 2rem;
}

.about-wrapper ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 350px;
    cursor: pointer;
    transition: all 500ms ease;
}

.about-wrapper ul li::before{
    content: '';
    display: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px white;
}

.about-wrapper ul li.active::before {
    display: block; /* Akan muncul setelah diklik */
}

.about-wrapper ul li.active {
    font-size: 40px;
    text-shadow: 0 0 10px white;
}

.skills-container {
    /* background-color: green; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 10rem;
    /* visibility: hidden; */
}

.skills-container .skills-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    /* background-color: green; */
}

.skill-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 30px;

}

.skill-item h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

.progress-bar {
    display: flex;
    position: relative;
    /* background-color: #004dff; */
    width: 500px;
}

.bar {
    position: absolute;
    width: 500px;
    height: 20px;
    z-index: 0;
    background-color: white;
    /* visibility: hidden; */
    box-shadow: 0 0 10px 10px rgb(27, 46, 133);
}

@keyframes progressingWeb {
    0% {
        width: 0;
    }
    100% {
        width: 45%;
    }
}

@keyframes progressingMob {
    0% {
        width: 0;
    }
    100% {
        width: 10%;

    }
}

@keyframes progressingVid {
    0% {
        width: 0;
    }
    100% {
        width: 75%;
    }
}

@keyframes progressing3D {
    0% {
        width: 0;
    }
    100% {
        width: 5%;
    }
}


.progressBar {
    position: absolute;
    height: 20px;
    z-index: 2;
    background: linear-gradient(199deg,#307cbf,#1f4c73,#071c31);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
    transition: all 500ms ease;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.514);
}


.tools-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    /* background-color: #004dff; */
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    gap: 40px;
    /* visibility: hidden; */
}

.tools-up,
.tools-down {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    /* flex-direction: column; */
    gap: 5rem;
    /* padding: 10rem 0; */
} 

.tools-up {
    align-items: end;
}

.tools-img img {
    width: 100px;
}

.tools-img img:first-child,
.tools-img img:nth-child(3)
{
    width: 90px;
}


.tools-img {
    display: grid;
    grid-template-columns: repeat(2,100px);
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.render-tools .tools-img  {
    display: flex;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.mob-tools .tools-img {
    display: flex;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.tools-item {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.178), #212121) padding-box,
    linear-gradient(145deg, transparent 35%,#0952f0, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    width:  50%;
    height: 350px;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    box-shadow: 0 0 10px 10px rgba(26, 90, 185, 0.377);
    padding-top: 10px;
}


.mob-tools,
.render-tools {
    transform: translateX(-60rem);
}

.tools-item h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

.vid-tools .tools-img img:last-child {
    width: 100px;
}

.mob-tools .tools-img img:last-child,
.mob-tools .tools-img img:first-child
{
    width: 70px;
}

.render-tools .tools-img img:last-child {
    width: 100px;
    align-self: center;
    justify-self: center;
}

.tools-item:hover {
    rotate: 8deg;
    box-shadow: 0 0 10px 10px white;
}

.tools-item:hover h1 {
    text-shadow: 0 0 10px white;
}

@keyframes toRight {
    From {
        transform: translateX(-60rem)
    }
    to {
        transform: translateX(0rem);
    }
}